<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <!-- NEW USER FORM -->
    <div class="col-md-6">
      <h4>New user</h4>
      <form ng-submit="users.submitUser()"> <!-- force angular function handling submit -->

        <div class="form-group">
          <input type="text" class="form-control input-sm" name="firstname" ng-model="users.userData.firstname" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" name="lastname" ng-model="users.userData.lastname" placeholder="Last name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control input-sm" name="email" ng-model="users.userData.email" placeholder="Email">
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Save user</button>
        </div>
      </form>
      <span class="alert alert-warning" ng-if="users.errorMessage"> {{ users.errorMessage }}</span>
    </div>

    <!--LOADER-->
    <p class="text-center" ng-show="loading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></p>

    <!--USER LIST-->
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <caption class="">Users list</caption>
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr class="user" ng-hide="loading" ng-repeat="user in users.userList">
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td><button type="button" ng-click="users.deleteUser(user.id)" class="btn btn-primary btn-xs">Delete</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
